* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

input,
textarea,
button,
input::placeholder,
textarea::placeholder {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4 {
  font-size: inherit;
  font-weight: inherit;
}